//
// Backgrounds
// --------------------------------------------------

.ot-takeover {
	//transform: rotateX(45deg) rotatez(45deg);
	.transition(all 1.5s ease);
	.rhys-coren & {
		background: url('../../assets/rhys-bg.gif') center center fixed;
		background-size: cover;
	}
	.gery-georgieva & {
		background: url('../../assets/gery-bg.jpg') center center fixed;
		background-size: cover;
	}
	.anna-hughes & {
		background: url('../../assets/anna-h-bg.jpg') center center fixed;
		background-size: cover;		
	}
	.wanda-wieser & {
		background: url('../../assets/wanda-bg.jpg') center center fixed;
		background-size: contain;	
	}
}